{% extends 'bose.html' %}
{%load static %}
{% block content %}
  <form method='POST' action="" enctype="multipart/form-data”>
    {% csrf_token %}
    <img class="mb-4" src="{% static 'image/fondEn.webp' %}" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Enregistrer Une nouvelle chambre </h1>
    <div class="form-floating">
         <input type='number' class="form-control" name="taille" required>
        <label for="client">Taille de la chambre</label>
      </div>
      <div class="form-floating">
        <select class="form-control" name="type" required>
          {% for voi in voit %}
           <option value='{{voi.id }}'>{{ voi.nom }}</option>
         {% endfor %}
      </select>
        <label for="voiture">Type de la chambre</label>
      </div>

      <div class="form-floating">
        <input type="date" class="form-control" id="nom" name="date_crea" placeholder="date de location">
        <label for="date_crea">Date Amenagement</label>
      </div>
    <div class="form-floating">
      <input type="number" class="form-control" id="email" name="cout" placeholder="montant de la location">
      <label for="email">Cout de la location</label>
    </div>
    
    <div class="form-floating">
      <input type="file" class="form-control" id="email" name="imag" placeholder="Image de la chambre">
    </div> 
 <br>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Valider</button>
  </form>

{% endblock content %}